@import "../../../assets/scss/app-color";

.button-section {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    border-color:#{$app-color-100};

    ion-icon {
        margin-right: 8px;
    }
}

ion-button {
    flex: 1;

}

ion-item {
    --background: auto;
}

.o-field {

    textarea,
    input,
    select.o-select {
        width: 100%;
        padding: 4px 10px;
        border-radius: 8px;
        border-width: .2px;
        border-color:#{$app-color-100};
    }

    select.o-select {
        padding: 6px 10px;
    }

    margin-bottom: 16px;

    textarea {
        min-height: 80px;
    }

}

.o-select:focus-visible {
    outline: 0 !important;
}

input:focus-visible {
    outline: 0 !important;
}

.validator {
    color: red;
    margin-left: 4px;
}

.alert {
    color: red;
    border-radius: 4px;
    border-color: red;
}

h1 {
    font-size: 20px;
}